appscript==1.2.5
Babel==2.15.0
backports.tarfile==1.1.1
certifi==2024.2.2
charset-normalizer==3.3.2
customtkinter==5.2.2
darkdetect==0.8.0
docx2pdf==0.1.8
docxcompose==1.4.0
docxtpl==0.17.0
idna==3.7
importlib_metadata==7.1.0
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
Jinja2==3.1.4
keyring==25.2.0
lxml==5.2.1
MarkupSafe==2.1.5
more-itertools==10.2.0
numpy==1.26.4
packaging==24.0
pandas==2.2.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
requests==2.31.0
six==1.16.0
tqdm==4.66.4
typing_extensions==4.11.0
tzdata==2024.1
urllib3==2.2.1
zipp==3.18.1
